body ,html{
    margin: 0;


}
.About{
    margin-top: 92px;
    margin-left: 22px;
}

.scrollmenu {
    position: absolute;
   margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
    background-color: rgb(4, 4, 36);
}

.scrollmenu a {

    
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #ddd;
    color: black;
}

.scrollmenu a.active {
    background-color: #40AA6D;
    color: white;
}

.title img {
    position: absolute;
    float: left;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 10px;
    background: rgb(255, 255, 255);
}

.title h1 {
    
    color: rgb(255, 255, 255);
    position:relative;
    top: 18px;
    left: 80px;
}

td img {
    position: relative;
    width: 400px;
    height: 290px;
    border-radius: 10px;
    margin: 40px;
    
}
.pd{
    padding: 5px;
}
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation : change 10s infinite ease-in-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}
.content a:hover{
    background: #034e88;
    color: #fff;
}
@keyframes change{
    0%
    {
        background-image: url(1.jpg);
    }
    20%
    {
        background-image: url(2.jpg);
    }
    40%
    {
        background-image: url(3.jpg);
    }
    60%
    {
        background-image: url(4.jpg);
    }
    80%
    {
        background-image: url(5.jpg);
    }
    100%
    {
        background-image: url(6.jpg);
    }
}